<body class="d-flex text-center text-white bg-dark" style=" height: 100%;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
   >
        <header class="mb-auto">
            <div>
                
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
                    <a class="nav-link" href="#">Hakkımda</a>
                    <a class="nav-link" href="#">İletişim</a>
                    <a class="nav-link" href="#">Yeteneklerim</a>
                    <a class="nav-link" href="#">Eğitim Hayatım</a>
                </nav>
            </div>
        </header>

        <main class="px-12">
            <h1>VAHİT KUTLUHAN ÖZBAKAN</h1>
            <p class="lead">
                Merhaba, CV sayfama hoşgeldiniz. İhtiyacınız olan her türlü bilgiyi bu sayfada bulabilirsiniz. 
            </p>
            
        </main>

       
    </div>
</body>

<div style="background-color: rgb(238, 238, 238); width: 100%">
    <div class="container" >
        
        <div class="row row-2" style="height: 500px; width: 100%; ">
            <div class="col-md-5" style= "margin-top: 10px; background-image: url('assets/me.png'); margin-right: 70px; border-color: white; border-radius: 100px 100px 100px 100px; background-size: contain; background-repeat: no-repeat;">
              
            </div>
            <div class="col" style="margin-left: -162px;">
                <h1 class="display-4 ">Hakkımda</h1>
                <p style="text-indent: 3ch; font-size: 20px;" >    Merhaba, adım Vahit Kutluhan Özbakan. 1997 yılında Ankara'da doğdum. Bilgisayara olan merakım küçüklüğüme dayanmakla beraber yazılıma olan ilgim lise hayatımda başlamıştır. Lise hayatımı Balgat Anadolu Teknik ve Endüstri Meslek lisesinde bilgisayar alanında geçirdim. Lise bittikten sonra ön lisans olarak Kırıkkale Üniversitesi Bilgisayar Programcılığı okudum ve ardından Dikey geçiş sınavı ile Atılım Üniversitesi Yazılım mühendisliği bölümünde lisansımı tamamladım. Şu an aktif olarak ARD Holdingde uzun dönem stajyer olarak uygulamalar geliştirmekteyim.</p>
                <p style="text-indent: 3ch; font-size: 20px;"> Eğitim hayatımın yanı sıra freelance olarak full stack web projeleri geliştirdim. Ayrıca 2015 yılında Bilge Adam eğitim kurumunda Sistem Ağ güvenlik eğitimi alarak microsoft sertifikaları kazandım. Ayrıca Yaz kampları ile siber güvenlik ile tanıştım ve eğitim aldım.</p>
            </div>
        </div>
        </div>
</div>
<div style="background-color: rgb(238, 238, 238); width: 100%">
    <div class="container">
        <h1 class="display-4 center-item">Display 2</h1>
        <div class="row center-item">
            <div class="col">
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/angular.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/htm.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/ts.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/css2.png" class="img-fluid rounded-start"
                                style="margin-top: 40px; width: 70px;" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/sql.png" class="img-fluid rounded-start"
                                style="margin-top: 40px; width: 70px;" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
            </div>

            <div class="col">
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/netcore.png" class="img-fluid rounded-start"
                                style="margin-top: 40px; width: 100px; " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/js.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/dart.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/flutter.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------- -->
                <!-- ----------------- -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/php.png" class="img-fluid rounded-start" style="margin-top: 40px;"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-right: 24px;">Card title</h5>
                                <div class="progress" style="margin-top: 50px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%"></div>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(53, 53, 53); width: 100%;" >
    <div class="container">
        <h2>sda</h2>
    </div>
</div>